<%- include('partials/header', {link: ''}) -%>
    
    <h2 id="heading">Home</h2>

    <p id="heading-para">
        <%= homeStartingContent %>
    </p>

    <h2 id="heading">Posts</h2>

    <% if (posts.length > 0) { %>
        <% posts.forEach(function(post) { %>
            <a href="/posts/<%= post.title %>" id="take-to-post-btn">
                <div class="post">
                    <h4><%= post.title %></h4>
                    <p><%= post.body.substring(0, 150) + ' ...' %></p>
                </div>
            </a>
        <% }); %>
    <% } else { %>
        <div class="post">
            <h4>Empty List</h4>
            <p>The posts you add will show up here.</p>
        </div>
    <% } %>
    
<%- include('partials/footer') -%>